
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');


p{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    margin: 0;
    padding: 0;
}

a{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    text-decoration: none;

    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    text-decoration: none;

    margin: 0;
    padding: 0;
}


/*

HOME SLIDER

*/

.HomeSlider{
    height: 100%;

    display: flex;
    flex-direction: column;
    width: 100%;

    margin-top: 50px;
    margin-bottom: 50px;
}

.HomeSliderNav{
    width: 100%;
}

.SliderNavButton{

    height: 20px;
    width: 75px;
    margin-right: 18px;

    border-style: none;
    border-radius: 5px;

    background: linear-gradient(to bottom right, #cc8c1a, #f5a833);
}

.SliderNavButton:hover{
    cursor: pointer;
}

.SliderNavButton:disabled{
    background: linear-gradient(to bottom right, #4f4f4f, #77716c);
}

.SlideContainer{

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 650px;
}

.SlideInfoContainer{

    color: #fff;

    width: 800px;
    height: 100%;
    margin-right: 10px;

    display: flex;
    justify-content: center;
    flex-direction: column;

}

.SlideInfoTitle{

    font-size: 48px;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;

    margin-bottom: 18px;
    margin-top: 18px;

}
.SlideDescription{

    font-size: 32px;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    margin-bottom: 18px;
    margin-top: 18px;

}

.SlideButtons{
    margin-bottom: 18px;
    margin-top: 18px;

    height: 60px;

    display: flex;
    align-items: center;
}

.SlideButtons a{
    color: #fff;

    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
}

.StartPlayButton{
    margin-right: 48px;

    padding: 10px 18px;

    background: linear-gradient(to bottom right, #cc8c1a, #f5a833);

    border-style: none;

    border-radius: 5px;

    transition: .2s;

    font-size: 24px;
}

.StartPlayButton:hover{
    transform: scale(110%);

}

.DetailsButton{
    font-size: 24px;

    background-color: rgba(131, 125, 125, 0.11);

    border-style: none;

    border-radius: 5px;

    transition: .2s;

    padding: 10px 18px;
}

.DetailsButton:hover{
    transform: scale(110%);
}

.SlideImage{

    height: 325px;
    width: 700px;

    border-radius: 10px;


}
